header {
	text-align: center;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 45% 45% / 10%;
}
header .content {
	padding: 1em;
	color: #FFF;
  background-image: linear-gradient( 135deg, #01061abf 10%, #0c0c0caa 100%);
}
header span {
    color: #418ce0
}

h1, h2 {
	font-family: Impact, sans-serif;
	font-size: 60px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

a {
    background-color: white;
    color:#56595b;
    font-size:50px;
    line-height: 53px;
    display:inline-block;
    width:55px;
    height:55px;
    border-radius:100%;
    -webkit-transition:all .15s linear;
    -o-transition:all .15s linear;
    transition:all .15s linear
  }
a:hover {
    color: #418ce0
  }